<link rel="stylesheet" href="/css/setting.css">
<link rel="stylesheet" href="/css/profile.css">

<form class="" action="/setting/get_infor_edit" method="POST">
<div class="row">
  <div class="col-3">
    <div class="card my-4">
      <div class="card-header">
        <ul class="list-group categoryUL">
          <li class="list-group-item active"><a href="/setting/general">Reported post</a></li>

        </ul>
      </div>
    </div>
  </div>
  <div class="col-8 my-4">
    <div class="card">
        <div class="card-header postColor">
            <h1>Reported Post</h1>
        </div>
        <div class="card-body">
            {{#each rpPosts}}
            <div class="card my-4 postsID" id="{{Post.id}}">
                <div class="card-header postColor">
                    <div class="row">
                        <div class="col-md-auto">
                            <a href=""> <img src="https://mind-sharing.s3-ap-southeast-1.amazonaws.com/{{Post.pUser.avt}}.png"
                                    class="rounded-circle" style="width: 70px; height: 70px;" alt="user_img"> </a>
                        </div>
                        <div class="col-sm-10 user_name">
                            <a href="" class="user_name">
                                <h3>{{Post.pUser.fname}} {{Post.pUser.lname}}</h3>
                            </a>
                            <h5>{{Post.time}} {{Post.pDay}}-{{Post.pMonth}}-{{Post.pYear}}</h5>
                        </div>
                    </div>
                </div>
                <div class="nav-item post_option dropdown">
                    <a class="nav-link" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <h3 id="post_option{{id}}">...</h3>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" id="report_post{{id}}">Report</a>
                        <a class="dropdown-item" id="edit_post{{id}}">Edit</a>
                    </div>
                </div>
                <div class="card-body postContentColor">
                    <h4 class="card-title">{{Post.content}}</h4>
                    <div id="carouselId{{id}}" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators" id="indicators{{Post.id}}">

                        </ol>
                        <div class="carousel-inner" id="inner{{Post.id}}" role="listbox">

                        </div>
                        <a class="carousel-control-prev" href="#carouselId{{Post.id}}" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselId{{Post.id}}" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <script>
                    var i = 0;
                </script>
                {{#each Post.imgPath as |src|}}
                <script>
                    if (i == 0) {  
                        var indi_htm = `<li data-target="#carouselId" data-slide-to="` + i + `" class="active"></li>`;
                        var inner_htm = `<div class="carousel-item active">
                                            <center><img src="{{src}}" alt="" class="image-post img-thumbnail"></center>
                                        </div>`;
                                        
                        document.getElementById(`indicators{{../Post.id}}`).insertAdjacentHTML("beforeend", indi_htm);
                        document.getElementById(`inner{{../Post.id}}`).insertAdjacentHTML("beforeend", inner_htm);
                    } else {
                        var indi_htm = `<li data-target="#carouselId" data-slide-to="` + i + `"></li>`;
                        var inner_htm = `<div class="carousel-item">
                                            <center><img src="{{src}}" alt="" class="image-post img-thumbnail"></center>
                                        </div>`;
                                        
                        document.getElementById(`indicators{{../Post.id}}`).insertAdjacentHTML("beforeend", indi_htm);
                        document.getElementById(`inner{{../Post.id}}`).insertAdjacentHTML("beforeend", inner_htm);
                    }
                    i++;
                </script>
                {{/each}}
            {{/each}}
        </div>
    </div>
</div>
</form>