<link rel="stylesheet" href="./css/message.css">
<div class="row">
    <div class="col-3 overflow-hidden">
        <div class="card my-4">
            <div class="card-header postColor">
                <h2>Messages</h2>
            </div>
            <div class="card-body navbarTopColor">
                <ul class="list-group categoryUL">
                    {{#each chats}}
                    <li class="list-group-item active">
                        <img src="../images/Avatar/{{User.avt}}.png" class="img-thumbnail rounded-circle avatar"
                            style="height: 60px; width: 60px;" alt="avatar">
                        <a href="#">{{User.fname}} {{User.lname}}</a>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-8 ml-5 my-4">
        <div class="card">
            <div class="card-header postColor">
                <a href="" style="font-size: 45px;">
                    <img src="../images/Avatar/{{enemy.avt}}.png" class="img-thumbnail rounded-circle avatar"
                        style="height: 80px; width: 80px;" alt="avatar">
                    {{enemy.fname}} {{enemy.lname}}
                </a>
            </div>
            <div class="card-body box-chat" id="chat-box">
            {{#each messes}}
                <script>
                    if (`{{../enemy.id}}` == `{{who}}`){
                        var item = `                        <div class="row">
                            <div class="box-mess guy col-auto" id="guy">
                                {{contentMess}}
                            </div>
                        </div>`
                        var t = document.querySelector('#chat-box');
                        t.insertAdjacentHTML("beforeend", item);
                    } else {
                        var item = `                        <div class="row justify-content-end">
                            <div class="box-mess me col-auto" id="me">
                                {{contentMess}}
                            </div>
                        </div>`;
                        var t = document.querySelector('#chat-box');
                        t.insertAdjacentHTML("beforeend", item);
                    }
                </script>
            {{/each}}
            </div>
            <div class="card-footer">
                <form id="chat-form">
                    <div class="PreviewImg m-2">
                        {{!-- <img src="/images/Avatar/user_1.png" class="preview_img img-thumbnail" alt="">
                        <img src="/images/Avatar/user_1.png" class="preview_img img-thumbnail" alt=""> --}}
                    </div>
                    <input id="message" type="text" class="form-control input-sm chat_input mr-2 mt-1"
                        placeholder="Write your message here..." />
                    <input type="file" id="file" accept="image/*" multiple>
                    <label for="file">
                        <i class="material-icons fa-3x mainColor add_photos">add_photo_alternate</i>
                    </label>
                    <span class="input-group-btn">
                        <button class="sendBtn" type="submit"><i class="fa fa-paper-plane fa-2x mainColor"></i></button>
                    </span>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="./js/messenger.js"></script>