<link rel="stylesheet" href="./css/profile.css">
<div class="container">
    <div class="text-center">
        <img src="https://mind-sharing.s3-ap-southeast-1.amazonaws.com/{{currentUser.bg}}.jpg" class="img-thumbnail background" alt="background">
    </div>
    <div class="text-center">
        <img src="https://mind-sharing.s3-ap-southeast-1.amazonaws.com/{{currentUser.avt}}.png" class="img-thumbnail rounded-circle avatar" style="height: 200px; width: 200px;" alt="avatar">
        <h1 class="username mainColor"> {{currentUser.fname}} {{currentUser.lname}} </h1>
        <a href="/profile/wall">
            <input type="button" class="btn bgColor" id="wallBtn" value="See Your Wall">
        </a>
    </div>
    <div class="info">
        <div class="card formColor">
            <div class="card-header bgColor">
                <h2 class="text-center">Public Profile</h2>
            </div>
            <div class="card-body postColor">
                <div class="row m-2">
                    <div class="col-2 inputRow ml-3">
                        <h5>First Name</h5>
                    </div>
                    <div class="col inputRow">
                        <div class="form-row">
                            <input type="text" class="inputField" value="{{currentUser.fname}}" disabled>
                        </div>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-2 inputRow ml-3">
                        <h5>Last Name</h5>
                    </div>
                    <div class="col inputRow">
                        <div class="form-row">
                            <input type="text" class="inputField" value="{{currentUser.lname}}" disabled>
                        </div>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-2 inputRow ml-3">
                        <h5>Email Address</h5>
                    </div>
                    <div class="col inputRow">
                        <div class="form-row">
                            <input type="text" class="inputField" value="{{currentUser.email}}" disabled>
                        </div>
                    </div>
                </div>
                                <div class="row m-2">
                    <div class="col-2 inputRow ml-3">
                        <h5>Address</h5>
                    </div>
                    <div class="col inputRow">
                        <div class="form-row">
                            <input type="text" class="inputField" value="{{currentUser.address}}" disabled>
                        </div>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-2 inputRow ml-3">
                        <h5>Phone number</h5>
                    </div>
                    <div class="col inputRow">
                        <div class="form-row">
                            <input type="text" class="inputField" value="{{currentUser.pNum}}" disabled>
                        </div>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-2 inputRow ml-3">
                        <h5>Birthday</h5>
                    </div>
                    <div class="col inputRow">
                        <div class="form-row">
                            <input type="text" class="inputField" value="{{currentUser.bDay}}-{{currentUser.bMonth}}-{{currentUser.bYear}}" disabled>
                        </div>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-2 inputRow ml-3">
                        <h5>Nationality</h5>
                    </div>
                    <div class="col inputRow">
                        <div class="form-row">
                            <input type="text" class="inputField" value="{{currentUser.nation}}" disabled>
                        </div>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-2 inputRow ml-3">
                        <h5>Bio</h5>
                    </div>
                    <div class="col inputRow">
                        <div class="form-row">
                            <input type="text" class="inputField" 
                                value="{{currentUser.bio}}"
                                disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>